.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.navbar {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  bottom: auto;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px #0000000d;
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 80rem;
  object-fit: cover;
  position: relative;
  padding: 16px;
}
.link__rsQ22 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__cP1Vy {
  object-fit: cover;
  height: 32px;
}
.img__cP1Vy > picture > img {
  object-fit: cover;
}
.img__cP1Vy > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__p9Kwo {
  object-fit: cover;
}
.img__p9Kwo > picture > img {
  object-fit: cover;
}
.img__p9Kwo > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__htM16 {
  object-fit: cover;
}
.img__htM16 > picture > img {
  object-fit: cover;
}
.img__htM16 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.link__cjGAr {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.link__fQrf5 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.link___3V16S {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.link__dCAvq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.button__suLCd:global(.__wab_instance) {
  max-width: 100%;
}
.svg__erQEm {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__faXlm {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__alpy1:global(.__wab_instance) {
  max-width: 100%;
}
.svg__h0RBy {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__gfVcK {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.hero {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 10rem 0px 5rem;
}
.hero > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.hero > :global(.__wab_flex-container) > *,
.hero > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.hero > :global(.__wab_flex-container) > picture > img,
.hero > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hero {
    padding-top: 7rem;
  }
}
.row {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 80rem;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.columns__echCr {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__echCr > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.columns__echCr > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 24px) * 6 / 12);
}
.columns__echCr > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 24px) * 6 / 12);
}
.columns__echCr > :global(.__wab_flex-container) > *,
.columns__echCr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__echCr > :global(.__wab_flex-container) > picture > img,
.columns__echCr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__echCr {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__echCr > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__echCr > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 24px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__echCr > :global(.__wab_flex-container) > *,
  .columns__echCr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__echCr > :global(.__wab_flex-container) > picture > img,
  .columns__echCr
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 24px;
  }
}
.column__loUtS {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__loUtS > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__loUtS > :global(.__wab_flex-container) > *,
.column__loUtS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__loUtS > :global(.__wab_flex-container) > picture > img,
.column__loUtS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h1__zoFek {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__zoFek {
    max-width: none;
  }
}
.p__mj5E3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #9fadbd;
  min-width: 0;
}
.button__uBcD5:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__uBcD5:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__cArez {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__ecWz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__c6Cvl {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 32px;
  min-width: 0;
}
.freeBox__c6Cvl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__c6Cvl > :global(.__wab_flex-container) > *,
.freeBox__c6Cvl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c6Cvl > :global(.__wab_flex-container) > picture > img,
.freeBox__c6Cvl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__c6Cvl > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: flex-start;
  }
}
.h6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h6 {
    text-align: center;
  }
}
.freeBox__c51RZ {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__c51RZ > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__c51RZ > :global(.__wab_flex-container) > *,
.freeBox__c51RZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c51RZ > :global(.__wab_flex-container) > picture > img,
.freeBox__c51RZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__c51RZ > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
  }
}
.img__usCo {
  object-fit: cover;
  max-width: 100%;
  height: 64px;
}
.img__usCo > picture > img {
  object-fit: cover;
}
.img__usCo > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.link__eswhG {
  position: relative;
  display: flex;
}
.img__mQ9BS {
  object-fit: cover;
  max-width: 100%;
  height: 64px;
}
.img__mQ9BS > picture > img {
  object-fit: cover;
}
.img__mQ9BS > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.link___9KlPb {
  position: relative;
  display: flex;
}
.img__aJsln {
  object-fit: cover;
  max-width: 100%;
  height: 64px;
}
.img__aJsln > picture > img {
  object-fit: cover;
}
.img__aJsln > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__mihJm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #f8f8fb;
  min-width: 0;
  border-radius: 32px;
}
.img__brdS8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 32px;
}
.img__brdS8 > picture > img {
  object-fit: cover;
}
.img__brdS8 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.exchange {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  background: #f8f8fb;
  min-width: 0;
  padding: 5rem 0px;
}
.exchange > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.exchange > :global(.__wab_flex-container) > *,
.exchange > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.exchange > :global(.__wab_flex-container) > picture > img,
.exchange
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__jDaLa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 32px;
  min-width: 0;
}
.h1__bheFj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80rem;
  text-align: center;
  font-weight: 700;
  min-width: 0;
}
.row2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 80rem;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.columns__yx4B1 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__yx4B1 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.columns__yx4B1 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 24px) * 6 / 12);
}
.columns__yx4B1 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 24px) * 6 / 12);
}
.columns__yx4B1 > :global(.__wab_flex-container) > *,
.columns__yx4B1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__yx4B1 > :global(.__wab_flex-container) > picture > img,
.columns__yx4B1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yx4B1 {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yx4B1 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yx4B1 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 24px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yx4B1 > :global(.__wab_flex-container) > *,
  .columns__yx4B1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__yx4B1 > :global(.__wab_flex-container) > picture > img,
  .columns__yx4B1
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 24px;
  }
}
.column__oS7Oh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__oS7Oh {
    justify-content: center;
    align-items: center;
  }
}
.img__wSuj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 75%;
}
.img__wSuj > picture > img {
  object-fit: cover;
}
.img__wSuj > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__wSuj {
    width: 50%;
  }
}
.column___06Yeo {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column___06Yeo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column___06Yeo > :global(.__wab_flex-container) > *,
.column___06Yeo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___06Yeo > :global(.__wab_flex-container) > picture > img,
.column___06Yeo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h1__xDpXy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 600;
  min-width: 0;
}
.p__exs6P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #9fadbd;
  min-width: 0;
}
.button__hejp3:global(.__wab_instance) {
  max-width: 100%;
}
.svg__ybBk5 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__yBaJm {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.staking {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  background: #f8f8fb;
  min-width: 0;
  padding: 5rem 0px;
}
.staking > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.staking > :global(.__wab_flex-container) > *,
.staking > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.staking > :global(.__wab_flex-container) > picture > img,
.staking
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.row3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 80rem;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.columns__aOwuF {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__aOwuF > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.columns__aOwuF > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 24px) * 6 / 12);
}
.columns__aOwuF > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 24px) * 6 / 12);
}
.columns__aOwuF > :global(.__wab_flex-container) > *,
.columns__aOwuF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__aOwuF > :global(.__wab_flex-container) > picture > img,
.columns__aOwuF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aOwuF {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aOwuF > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aOwuF > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 24px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aOwuF > :global(.__wab_flex-container) > *,
  .columns__aOwuF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__aOwuF > :global(.__wab_flex-container) > picture > img,
  .columns__aOwuF
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 24px;
  }
}
.column__b5VmY {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__b5VmY > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__b5VmY > :global(.__wab_flex-container) > *,
.column__b5VmY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__b5VmY > :global(.__wab_flex-container) > picture > img,
.column__b5VmY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h1__mUpKf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 600;
  min-width: 0;
}
.p___3Cpji {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #9fadbd;
  min-width: 0;
}
.button__slcGq:global(.__wab_instance) {
  max-width: 100%;
}
.svg__rbUJg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__cDGao {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column___3JzpE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___3JzpE {
    justify-content: center;
    align-items: center;
  }
}
.img___85Pp7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 75%;
}
.img___85Pp7 > picture > img {
  object-fit: cover;
}
.img___85Pp7 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___85Pp7 {
    width: 50%;
  }
}
.custodian {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  background: #f8f8fb;
  min-width: 0;
  padding: 5rem 0px 10rem;
}
.custodian > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.custodian > :global(.__wab_flex-container) > *,
.custodian > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.custodian > :global(.__wab_flex-container) > picture > img,
.custodian
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.row4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 80rem;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.columns__p54Yz {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__p54Yz > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.columns__p54Yz > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 24px) * 6 / 12);
}
.columns__p54Yz > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 24px) * 6 / 12);
}
.columns__p54Yz > :global(.__wab_flex-container) > *,
.columns__p54Yz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__p54Yz > :global(.__wab_flex-container) > picture > img,
.columns__p54Yz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__p54Yz {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__p54Yz > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__p54Yz > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 24px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__p54Yz > :global(.__wab_flex-container) > *,
  .columns__p54Yz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__p54Yz > :global(.__wab_flex-container) > picture > img,
  .columns__p54Yz
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 24px;
  }
}
.column__otU1E {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__otU1E {
    justify-content: center;
    align-items: center;
  }
}
.img__b9Oiv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 75%;
}
.img__b9Oiv > picture > img {
  object-fit: cover;
}
.img__b9Oiv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__b9Oiv {
    width: 50%;
  }
}
.column__glBJo {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
}
.column__glBJo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__glBJo > :global(.__wab_flex-container) > *,
.column__glBJo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__glBJo > :global(.__wab_flex-container) > picture > img,
.column__glBJo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h1__nyPx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 0px;
  font-weight: 600;
  min-width: 0;
}
.p__tgtop {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #9fadbd;
  min-width: 0;
}
.button__cBNr:global(.__wab_instance) {
  max-width: 100%;
}
.svg__l8X1I {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__sRuk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.cta {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  background: none;
  margin-top: -5rem;
  min-width: 0;
  padding: 0rem 0px 5rem;
}
.cta > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.cta > :global(.__wab_flex-container) > *,
.cta > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cta > :global(.__wab_flex-container) > picture > img,
.cta > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
.row6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 80rem;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.freeBox__oBmxQ {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #2abbff;
  min-width: 0;
  border-radius: 24px;
  padding: 5rem;
}
.freeBox__oBmxQ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 42px);
  height: calc(100% + 42px);
}
.freeBox__oBmxQ > :global(.__wab_flex-container) > *,
.freeBox__oBmxQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oBmxQ > :global(.__wab_flex-container) > picture > img,
.freeBox__oBmxQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 42px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oBmxQ {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  color: #ffffff;
  text-align: center;
  max-width: 80rem;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3 {
    max-width: none;
  }
}
.link___4WrSk {
  position: relative;
  display: flex;
}
.button__opsae:global(.__wab_instance) {
  max-width: 100%;
}
.svg__jxkwD {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__hGdMh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.partner {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  background: #ffffff;
  min-width: 0;
  padding: 5rem 0px;
}
.partner > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.partner > :global(.__wab_flex-container) > *,
.partner > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.partner > :global(.__wab_flex-container) > picture > img,
.partner
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__n5OYk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 32px;
  min-width: 0;
}
.h1___1DGaE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80rem;
  text-align: center;
  font-weight: 700;
  min-width: 0;
}
.row5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 80rem;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.freeBox___9I1Vk {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9I1Vk {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-row-gap: 24px;
  }
}
.freeBox__nTkFp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 12px;
}
.img__feXo1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 72px;
  flex-shrink: 0;
}
.img__feXo1 > picture > img {
  object-fit: cover;
}
.img__feXo1 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__feXo1 {
    height: 32px;
    flex-shrink: 0;
  }
}
.freeBox__jSeNo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 12px;
}
.img__yT9Vg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 72px;
  flex-shrink: 0;
}
.img__yT9Vg > picture > img {
  object-fit: cover;
}
.img__yT9Vg > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__yT9Vg {
    height: 32px;
    flex-shrink: 0;
  }
}
.freeBox__gfQ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 12px;
}
.img__nkGqc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 72px;
  flex-shrink: 0;
}
.img__nkGqc > picture > img {
  object-fit: cover;
}
.img__nkGqc > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__nkGqc {
    height: 24px;
    flex-shrink: 0;
  }
}
.freeBox___8NbYf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 12px;
}
.img__kNq0I {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 72px;
  flex-shrink: 0;
}
.img__kNq0I > picture > img {
  object-fit: cover;
}
.img__kNq0I > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__kNq0I {
    height: 32px;
    flex-shrink: 0;
  }
}
.freeBox__jomck {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 12px;
}
.img__huqww {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 72px;
  flex-shrink: 0;
}
.img__huqww > picture > img {
  object-fit: cover;
}
.img__huqww > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__huqww {
    height: 32px;
    flex-shrink: 0;
  }
}
.freeBox__aR4TU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 12px;
}
.img___4YcJ0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 92px;
  flex-shrink: 0;
}
.img___4YcJ0 > picture > img {
  object-fit: cover;
}
.img___4YcJ0 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___4YcJ0 {
    height: 42px;
    flex-shrink: 0;
  }
}
.footer {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  background: #ffffff;
  min-width: 0;
  padding: 5rem 0px;
}
.footer > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.footer > :global(.__wab_flex-container) > *,
.footer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.footer > :global(.__wab_flex-container) > picture > img,
.footer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.row7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 80rem;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.columns__nZurg {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__nZurg > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.columns__nZurg > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 24px) * 3 / 12);
}
.columns__nZurg > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 24px) * 3 / 12);
}
.columns__nZurg > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 24px) * 3 / 12);
}
.columns__nZurg > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 24px) * 3 / 12);
}
.columns__nZurg > :global(.__wab_flex-container) > *,
.columns__nZurg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__nZurg > :global(.__wab_flex-container) > picture > img,
.columns__nZurg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nZurg {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nZurg > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nZurg > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 24px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nZurg > :global(.__wab_flex-container) > *,
  .columns__nZurg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__nZurg > :global(.__wab_flex-container) > picture > img,
  .columns__nZurg
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 24px;
  }
}
.column___2B2Ig {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column___2B2Ig > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column___2B2Ig > :global(.__wab_flex-container) > *,
.column___2B2Ig > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___2B2Ig > :global(.__wab_flex-container) > picture > img,
.column___2B2Ig
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.img__wbF9A {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 32px;
  flex-shrink: 0;
}
.img__wbF9A > picture > img {
  object-fit: cover;
}
.img__wbF9A > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text___8Gmi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column___3C5Kl {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column___3C5Kl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.column___3C5Kl > :global(.__wab_flex-container) > *,
.column___3C5Kl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___3C5Kl > :global(.__wab_flex-container) > picture > img,
.column___3C5Kl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.link__fhxpB {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__xx5Na {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.link__kLstT {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__nPuXi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.link___6It1I {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__vLaXy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.link___3Typa {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__kN1N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.link__lTr7K {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__vKMgK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column___9LkZg {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column___9LkZg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.column___9LkZg > :global(.__wab_flex-container) > *,
.column___9LkZg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___9LkZg > :global(.__wab_flex-container) > picture > img,
.column___9LkZg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.link__b3Uko {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__wlReT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.link__e9ATu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__zjy1H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.link__d6IBw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__fhmRy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column__bRgNm {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__bRgNm > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__bRgNm > :global(.__wab_flex-container) > *,
.column__bRgNm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__bRgNm > :global(.__wab_flex-container) > picture > img,
.column__bRgNm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__sq48G {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__qYjd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.socmedWrapper {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.socmedWrapper > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.socmedWrapper > :global(.__wab_flex-container) > *,
.socmedWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.socmedWrapper > :global(.__wab_flex-container) > picture > img,
.socmedWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.socmed {
  position: relative;
  display: flex;
  color: #000000;
}
.svg__nfgN {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.socmed2 {
  position: relative;
  display: flex;
  color: #000000;
}
.svg__kn5Tz {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.socmed3 {
  position: relative;
  display: flex;
  color: #000000;
}
.svg__o97I {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.socmed4 {
  position: relative;
  display: flex;
  color: #000000;
}
.svg__hk4Ul {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.socmed5 {
  position: relative;
  display: flex;
  color: #000000;
}
.svg__sIr7E {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.socmed6 {
  position: relative;
  display: flex;
  color: #000000;
}
.svg__pq087 {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.socmed7 {
  position: relative;
  display: flex;
  color: #000000;
}
.svg__o0UMm {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__ggGt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 14px;
  padding-top: 32px;
  min-width: 0;
}
